@keyframes scan {
  0% {
    transform: translate(-50%, -100px);
  }
  100% {
    transform: translate(-50%, 100px);
  }
}

.animate-scan {
  animation: scan 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}